.box {
    height: 15vh;  
    width: 8rem;
    border: 2px dashed rgba(255, 255, 255, 0.1) !important;
}

.item-content {
    padding-top: 0.5vh;
    line-height: 1.4vh;
    letter-spacing: 0.1vh;
    font-size: 9px
}

.box i {
    color: rgba(255, 255, 255, 0.1) !important;
    margin-top: 3vh;

}

.item img {
    width: 100%;
    height: auto;
}